*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    box-sizing: border-box;
    font-family:"Helvetica";
}

.logo{
    width: 90px;
}

footer{
    background-color: black;
    width: 100%;
    height: 150px;
    color: aliceblue;
}
section{
    background-color: white;
    height: 800px;
}

.modal-content {
    background-image: linear-gradient(to right,  white,  rgb(108, 106, 106));
    padding: 1%;
    border-radius: 5px;
    border-color: black;
    width: 70%;
    border:  rgba(178, 170, 170, 0.3);
    box-shadow: 9px 7px 9px ;
 }


 
 .modal-footer{
    margin-right: 50px;
 }

 .card{
    padding: 0%;
    background-color: rgba(245, 244, 244, 0.957);
    font-family:'Montserrat', sans-serif;
    border:  rgba(178, 170, 170, 0.3);
    box-shadow: 9px 7px 9px ;
 }
 .card-header {
    background-color: rgb(214, 227, 230) ;
    border-radius: 10px;
    width: 10px;
 }

 .card-title{
    background-color: rgb(0, 0, 0, 0.6);
    text-transform: uppercase;
    font-size: 15px;
    color:rgb(13, 10, 10) ;
    padding: 2px;
}

.seccion-nosotros{
    width: auto;
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    justify-content: space-around;

}
.nosotros-card{
    width: 300px;
    height: 300px;
    background-color: rgb(14, 16, 16);

    box-shadow: 2px;
} 

.wrapper {
    width:100px;
    height:100px;
    background:rgb(146, 17, 17);
    margin:10px 0 0;
}

.botonCarrito{
    position: relative;
     left: 250px;
     top: 50px;
}

.offcanvas {
    background-image: linear-gradient(to right,  white,  rgb(108, 106, 106));
    padding: 1%;
    border-radius: 5px;
    border-color: black;
       
}

.carousel {
    /* any dimensions are fine, it can be responsive with max-width */
    width: 100%;
    height: 630px;
    
  }
  
  .carousel-inner {
    /* make sure your .items will get correct height */
    height: 100%;
   
    
  }
  
  .item {
    background-size: cover;
    width: 100%;
    height: 100%;
    
  }
  
.cardheader {
    
    height: 100%;
}
